<div class="container mt-4">
  <!-- Content -->
  <div class="row mt-4">
    <!-- Online Users -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">Người đang online</h2>
        </div>
        <ul id="onlineUsers" class="list-group list-group-flush">
         
          <!-- Add more items as needed -->
        </ul>
      </div>
    </div>

    <!-- Game Tables -->
    <div class="col-md-4">
      <div class="card">
       <div class="card-header">
          <h2 class="mb-0">Danh sách bàn chơi</h2>
        </div>

    <ul class="list-group" id="availableTables">
      
    </ul>

  </div>
</div>

    <!-- Chat Box -->
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">Khung chat chung</h2>
        </div>
        <div class="card-body">
          <ul id="list" class="list-group mb-3">
            <!-- Chat messages will be dynamically added here -->
          </ul>
          <form id="chat-form" class="row g-3">
            <div class="col-9">
              <input type="text" class="form-control" id="msg" placeholder="Nhập tin nhắn...">
            </div>
            <div class="col-3">
              <button type="submit" id="send-chat" class="btn btn-primary btn-block">Gửi</button>
            </div>
          </form>
        </div>
      </div>
    </div>

</div>
 


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

<script>
    const url = window.location.origin;
    const pageName="homepage";
    const socket = io(url, { query: `un={{username}}` });

    socket.on('updateAvailableTables', (data) => {
      console.log(data);
      const availableTables = document.getElementById('availableTables');
      availableTables.innerHTML = '';
      data.forEach((table)=>{
         const listItem = document.createElement('li');
        listItem.className = 'list-group-item d-flex justify-content-start align-items-center';
        const link = document.createElement('a');
        link.textContent = `Table ${table.id}`;
        link.href = `/game/table/${table.id}`; // Đặt giá trị href theo nhu cầu của bạn
        const userIcon = document.createElement('i');
        listItem.appendChild(link);
         availableTables.appendChild(listItem);
      })
    });

    // Khi nhận được cập nhật về danh sách người dùng đang online
    socket.on('updateOnlineUsers', (users) => {
      const onlineUsersList = document.getElementById('onlineUsers');
      onlineUsersList.innerHTML = '';
     

      users.forEach((user) => {
        const listItem = document.createElement('li');
        listItem.innerHTML = `
             <i class="fas fa-circle text-success mr-2"></i>
             <span>${user.name}</span>`;
        listItem.className = 'list-group-item d-flex justify-content-start align-items-center';
        onlineUsersList.appendChild(listItem);
      });
    });

    
    
  
    $('form').submit((e)=>{
            let name=`{{username}}`;
            let message=$('#msg').val();
            e.preventDefault();
            if (name && message){
                socket.emit('channel1',{name,message});
            }
            else if (message){
                name='anonymous';
                socket.emit('channel1',{name,message});
            }
            $('#msg').val('');
            return false;
        });

        socket.on('channel1',msg=>{
            if (msg){
                $('#list').append($('<li>').addClass('list-group-item').html(`<strong>${msg.name}:</strong> ${msg.message}`));
            }
            
        })
  </script>