<section class="vh-100 mt-4" style="background-color: rgb(255, 255, 255);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center" style="background-color: rgb(230, 227, 227);">
            <form id="loginForm">

            <h3 class="mb-5">Sign in</h3>

            <div class="form-outline mb-4">
              <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Enter username"/>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="psw" name="password"  class="form-control form-control-lg" placeholder="Enter password"/>
            </div>

            <div class="form-outline custom-control custom-control mb-4">
              <label for="tokenLife">Life time login</label>
              <select class="custom-select" id="tokenLife" name="tokenLife">
          <option value="1" selected>1 day</option>
          <option value="15">15 days</option>
          <option value="30">30 days</option>
          <option value="45">45 days</option>
        </select>
            </div>
            
          <button class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button>
          <div class="col-12">
                 <span>Don't have an account? <a href="/auth/signup">Register </a></span>
         </div>
           </form>
           {{#if msg}}
           <div class="alert alert-{{color}} mt-4">
                   <strong>{{msg}}</strong>
            </div>
           {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

<script> 

  const loginForm = $("#loginForm");
  loginForm.on("submit", async function (e) {
     e.preventDefault();

  const data = $(this)
    .serializeArray()
    .reduce((obj, field) => ({ ...obj, [field.name]: field.value }), {});

  data.tokenLife = parseInt(data.tokenLife) * 24 * 60 * 60;
  console.log(data);
  fetch('https://localhost:3113/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
           .then(response => {
                if (!response.ok) {
                  return response.json();
                }
                else{
                  return response.json();
                }
 
            })
            .then(data => {
                if (data && data.token){
                  window.location.href = `http://localhost:21185/callback?token=${data.token}`;
                  return;
                }
                else{
                  alert(data.msg);
                }
             })
            .catch( error => {
               console.error(error.message);
            });
  
  });
</script>